<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlBackup.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SqlBackup.Properties.AppSettings>
            <setting name="SQLBackupCommand" serializeAs="String">
                <value>BACKUP DATABASE [{0}] TO DISK='{1}'</value>
            </setting>
            <setting name="BackupFileFormmat" serializeAs="String">
                <value>{0}_db_{1}</value>
            </setting>
            <setting name="BackupFileDateFormmat" serializeAs="String">
                <value>yyyyMMdd_HHmmss</value>
            </setting>
            <setting name="BackupFolderFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteOlderBackups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompressBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>data source=.;initial catalog=master;integrated security=True;MultipleActiveResultSets=True;</value>
            </setting>
        </SqlBackup.Properties.AppSettings>
    </userSettings>
</configuration>